# Lõi FastAPI & Server
fastapi[all]==0.111.0
uvicorn==0.30.1
pydantic==2.7.4

# Database
motor==3.4.0

# AI Oracle (Whisper)
openai-whisper==20231117
torch==2.3.1
torchaudio==2.3.1

# Blockchain & Cardano
pycardano==0.11.1
blockfrost-python==0.5.3

# Frontend
streamlit==1.35.0
requests==2.32.3